<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>v-if</title>
</head>
<body>
  <div id="app">
    <h1>Hello,Vue</h1>
    <h1 v-if="yes">Yes!</h1>
    <h1 v-if="no">No!</h1>
    <h1 v-if="age >= 25">Age: {{ age }}</h1>
    <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
  </div>
  <script src="../vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        yes: true,
        no: false,
        age: 28,
        name: 'keepfool'
      }
    })

    //console.log(vm);
  </script>
</body>
</html>