.raw{
  width: 400px;
  margin: 100px auto;
  font-size: 20px;
}
.input{
  width: 190px;
}
.btn{
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}